html
  -webkit-font-smoothing: antialiased

body
  background-color: #f3f3f3
  font-family: $base-font-family
  font-size: $base-font-size
  padding-top: 90px

.wrapper
  background-color: $white
  max-width: 1000px
  margin: 0 auto
  // z-index: 1
  // box-shadow: 0px 0px 5px 3px $light-grey

//// Media-queries
@media only screen and (max-width: 740px)
  body
    padding-top: 65px
