html
  -webkit-font-smoothing: antialiased
  font-family: 'Open Sans', arial, sans-serif

  body
    background-color: #f3f3f3
    font-size: 18px

  .wrapper
    background-color: $white
    max-width: 1000px
    margin: 0 auto
    box-shadow: 0px 0px 10px 3px $light-grey
