.betalsatt
  max-width: 500px
  margin: 20px auto
  +display(flex)
  +justify-content(center)
  .swish
    max-height: 40px
    width: auto
    margin-right: 15px
  .izettle
    max-height: 40px
    width: auto

ul
  list-style: none
  max-width: 540px
  margin: 0 auto
  padding: 0px
  li
    color: $primary-text
    margin-bottom: 10px
    padding-left: 1em
    text-indent: -.7em
  li:last-child
    margin-bottom: 0px
  li:before
    content: "• "
    color: $primary-color

//Media-queries
@media only screen and (min-width: 580px)
  .betalsatt
    .swish
      max-height: 60px
    .izettle
      max-height: 60px
